{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<html>
<head>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/data.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<!-- Additional files for the Highslide popup effect -->
<script type="text/javascript" src="http://www.highcharts.com/media/com_demo/highslide-full.min.js"></script>
<script type="text/javascript" src="http://www.highcharts.com/media/com_demo/highslide.config.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="http://www.highcharts.com/media/com_demo/highslide.css" />

<script src="http://highslide-software.github.io/export-csv/export-csv.js"></script>

</head>
<body style="background-color:white;">
 
 <div class="container">
  <div class="row" style="padding-bottom:0%;">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4">
      <div class="btn-group" role="group" aria-label="...">
        <button onclick="get_datatype('W');setDType('W');" type="button" class="btn btn-default btn">
        Wattage
      </button>
        <button onclick="get_datatype('I');setDType('I');" type="button" class="btn btn-default btn">
        Current
      </button>
        <button onclick="get_datatype('V');setDType('V');" type="button" class="btn btn-default btn">
        Voltage
      </button>
      <input type="hidden" id="dType" value="W" />
      </div>
    </div>
    <div class="col-sm-4">
      <span style="float:right;"><span class="btn btn-default btn"> Granularity</span> &nbsp&nbsp
      <input id="slider1" type="text" data-slider-min="100" data-slider-max="5000" data-slider-step="1" data-slider-value="3000"/></span>
    </div>    
</div>
    <div class="row">
      <div class='col-sm-2'>
    </div>
      <div class="col-sm-8">
        <!--<div id="container" style="position:relative;margin:20 auto;height: 400px;-webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
      box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);"></div> -->
       <!--<div><h1 id="maximum">Maximum is: {{max}}</h1></div>
       <div><h1 id="average">Average is: {{avg}}</h1></div> -->
      <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  </div>
  <div class="row" style="padding-top:0%;">
    <div class='col-sm-2'>
    </div>
    <div class='col-sm-4'>
      <div class="form-group">
        <div class='input-group date' id='datetimepicker1'>
          <input type='text' class="form-control" />
          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
  </div>
  <div class='col-sm-4'>
    <div class="form-group">
      <div class='input-group date' id='datetimepicker2'>
        <input type='text' class="form-control" />
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>
  <div class='col-sm-2'>
    </div>
</div>

<!--<button id="getcsv">Alert CSV</button>-->

</div>
</div>
</body>
<script type="text/javascript">
  var data1 = {{data|safe}};
  data1 = transform_dates(data1);
  //var chart;

  $(function () {
    $.getJSON('http://www.highcharts.com/samples/data/jsonp.php?filename=analytics.csv&callback=?', function (csv) {

        var chart = $('#container').highcharts({

            data: {
                csv: csv
            },

            title: {
                text: 'Daily visits at www.highcharts.com'
            },

            subtitle: {
                text: 'Source: Google Analytics'
            },

            chart: {
              zoomType: 'x'
            },

            xAxis: {
                tickInterval: 7 * 24 * 3600 * 1000, // one week
                tickWidth: 0,
                gridLineWidth: 1,
                labels: {
                    align: 'left',
                    x: 3,
                    y: -3
                }
            },

            yAxis: [{ // left y axis
                title: {
                    text: null
                },
                labels: {
                    align: 'left',
                    x: 3,
                    y: 16,
                    format: '{value:.,0f}'
                },
                showFirstLabel: false
            }, { // right y axis
                linkedTo: 0,
                gridLineWidth: 0,
                opposite: true,
                title: {
                    text: null
                },
                labels: {
                    align: 'right',
                    x: -3,
                    y: 16,
                    format: '{value:.,0f}'
                },
                showFirstLabel: false
            }],

            legend: {
                align: 'left',
                verticalAlign: 'top',
                y: 20,
                floating: true,
                borderWidth: 0
            },

            tooltip: {
                shared: true,
                crosshairs: true
            },

            plotOptions: {
                series: {
                    cursor: 'pointer',
                    point: {
                        events: {
                            click: function (e) {
                                hs.htmlExpand(null, {
                                    pageOrigin: {
                                        x: e.pageX || e.clientX,
                                        y: e.pageY || e.clientY
                                    },
                                    headingText: this.series.name,
                                    maincontentText: Highcharts.dateFormat('%A, %b %e, %Y', this.x) + ':<br/> ' +
                                        this.y + ' visits',
                                    width: 200
                                });
                            }
                        }
                    },
                    marker: {
                        lineWidth: 1
                    }
                }
            },

            series: [{
                name: 'All visits',
                lineWidth: 4,
                marker: {
                    radius: 4
                }
            }, {
                name: 'New visitors'
            }]
        });
    });

});

$(function () {
    $('#datetimepicker1').datetimepicker({
      pick12HourFormat: true,
      defaultDate: moment(data1[1][0]),
      language: 'en'
    }); 
  });

  $(function () {
    $('#datetimepicker2').datetimepicker({
      pick12HourFormat: true,
      defaultDate: moment(),
      language: 'en'
    });
  });

  $(function () {
    $("#datetimepicker1").on("dp.hide", function (e) {display_new_range($('#dType').val())})
  });

  $(function () {
    $("#datetimepicker2").on("dp.hide", function (e) {display_new_range($('#dType').val())})
  });

  function transform_dates(data1){
    for (i = 0; i < data1.length; i++){
      data1[i][0] = moment(data1[i][0]).format('MMM D, h:m:s');
    }
    return data1;
  }

  $('#slider1').slider({
  formatter: function(value) {
    return 'Current value: ' + value;
      }
});
  
  $('#slider1').on("slideStop", function(e){
    console.log("stopped");
    display_new_range($('#dType').val());
  });


  function get_datatype(s){
    display_new_range(s)
  }
  
  function setDType(dtype){
    $('#dType').val(dtype);
  };

  function getDType(){
    var dType = $('#dType').val();
  }

  function display_new_range(dtype) {
    getDType();
    dtype = dtype || "W";
    var granularity = $('#slider1').data('slider').getValue()
    console.log(granularity);
    var start_time = $("#datetimepicker1").data('DateTimePicker').date.unix();
    var end_time = $("#datetimepicker2").data('DateTimePicker').date.unix();
    $.get("", {start_time : start_time,  end_time : end_time, dtype: dtype,
      granularity : granularity}, function(data){
      $("#maximum").text("Maximum is: " + data[1].max);
      $("#average").text("Average is: " + data[1].avg);
      console.log("maximum value",data[1].max);
      console.log("average value",data[1].avg);
      data1 = transform_dates(data[0]);
      console.log(data1);
      drawChart();
    });
  };   


</script>
</html>

{% endblock %}
